<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Please register</h1>
	<form method="post" action="/register">
		<input type="email" name="email" placeholder="your-email@google.com">

		<input type="submit">
	</form>
</body>
</html>